// Credit attributed to: @screenshake @ linkedin.com/in/saranshsinha

// n is number of stars required
@function multiple-box-shadow($n) {
  $value: '#{random(2000) - 1000}px #{random(2000) - 1000}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value}, #{random(2000) - 1000}px #{random(2000) - 1000}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

.cluster1 {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  background: radial-gradient(circle, rgba(255, 0, 150, 0.5), transparent),
    radial-gradient(circle, rgba(0, 150, 255, 0.5), transparent),
    radial-gradient(circle, rgba(255, 150, 0, 0.5), transparent),
    radial-gradient(circle, rgba(150, 0, 255, 0.75), transparent),
    radial-gradient(circle, rgba(150, 0, 255, 0.5), transparent);
  background-blend-mode: screen;
  filter: blur(200px);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.cluster2 {
  position: absolute;
  top: 75%;
  left: 25%;
  width: 10%;
  height: 10%;
  background: radial-gradient(circle, rgba(255, 0, 150, 1), transparent),
    radial-gradient(circle, rgba(255, 0, 150, 0.5), transparent),
    radial-gradient(circle, rgba(255, 150, 0, 1), transparent),
    radial-gradient(circle, rgba(150, 0, 255, 0.5), transparent);
  background-blend-mode: screen;
  filter: blur(85px);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.cluster3 {
  position: absolute;
  top: 15%;
  left: 85%;
  width: 10%;
  height: 10%;
  background: radial-gradient(circle, rgba(255, 0, 150, 0.5), transparent),
    radial-gradient(circle, rgba(0, 150, 255, 1), transparent),
    radial-gradient(circle, rgba(255, 150, 0, 0.5), transparent),
    radial-gradient(circle, rgba(150, 0, 255, 0.75), transparent);
  background-blend-mode: screen;
  filter: blur(75px);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.cluster4 {
  position: absolute;
  top: 85%;
  right: 10%;
  width: 25%;
  height: 25%;
  background: radial-gradient(circle, rgba(0, 150, 255, 0.8), transparent),
    radial-gradient(circle, rgba(0, 150, 255, 0.5), transparent),
    radial-gradient(circle, rgba(0, 0, 255, 0.25), transparent),
    radial-gradient(circle, rgba(0, 0, 255, 0.25), transparent);
  background-blend-mode: screen;
  filter: blur(150px);
  z-index: 0;
}

.stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: ' ';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-family: 'lato', sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;

  h1 {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.disappear {
  animation: fadeOut 4s forwards;
  animation-delay: 1s;
}

.appear {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
